/* Your code here */
.masthead{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30% 50% auto;
    grid-template-areas:
    "m . a"
    ". t ."
    "d l p";
}

.mh-menu{
    grid-area:m ;
    display: grid;
    justify-content: left;
    border: solid red;
    grid-template-columns: 5% 5% 5%;
    grid-template-areas:
    "menu-icon . search-icon";
    background-color: yellow;
}

.mh-action{
    grid-area:a ;
    display: flex;
    /* align-items:  right; */
    justify-content: right;
    /* align-content:flex-end; */
    border: solid black;
    background-color: yellow;
}

.mh-technologies{
    grid-area:t ;
    display: flex;
    justify-content: center;
    border: solid purple;
}

.mh-date{
    grid-area:d ;
    display: flex;
    justify-content: left;
    border: solid red;
}

.mh-logo{
    grid-area:l ;
    display: flex;
    justify-content: center;
    border: solid blue;
}

.mh-paper{
    grid-area:p ;
    display: flex;
    /* align-items: right; */
    justify-content: right;
    border: solid black;
}

.mh-menu > .menu{
    grid-area: menu-icon;
    font-size: 11px;
    horizontal-padding: 9px /* 9 pixel left and right */
}

.mh-menu > .search{
    grid-area: search-icon;
}
